{% extends 'base.html.twig' %}

{% block title %}Edit Publicaciones{% endblock %}

{% block body %}
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
		<div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
			<h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Editar publicacion</h1>
		</div>
    </div>

    {{ include('publicaciones/_form.html.twig', {'button_label': 'Editar'}) }}

    <a href="{{ path('app_publicaciones_index') }}" class="btn btn-primary font-weight-bold m-4" >Volver</a>

{% endblock %}
